<!DOCTYPE html>
<html>
    <head>
    	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>Sous Vide Temperature Controller</title>
        <link rel="stylesheet" type="text/css" href="/static/raspibrew.css" />
        
        <!--[if IE]><script type="text/javascript" src="excanvas.js"></script><![endif]-->
		<script type="text/javascript" src="static/external/gauge.js">			
		</script>
        <script type="text/javascript" src="static/external/jquery-2.0.3/jquery-2.0.3.min.js">   
        </script>
        <script type="text/javascript" src="static/external/flot-0.8.2/jquery.flot.js">
        </script>
        <script type="text/javascript" src="static/external/flot-0.8.2/jquery.flot.selection.js">
        </script>
        <script type="text/javascript" src="static/raspibrew.js">
        </script>
    </head>
    
    <body>
    	<div class="ControlResponse" id="tempheatplots" style="float:right;">
	    	<div class="tempdata"> 
	    		<p class="plottitle">Temperature Plot</p>
		    	<div id="tempplot" align=left  style="width:600px;height:200px;">
		    	</div>
		    	<p class="plottitle">Heat Plot </p>
		    	<div id="heatplot" align=left  style="width:600px;height:200px;">
		    	</div>
	    	    <br/>
	    		Window Size: <input id="windowSizeText" type="text" name="windowSize"  maxlength = "6" size ="6" value=1000000 style="text-align: right;"/> 
			<br>
			<h4>Steps for PID Tuning (Ziegler-Nichols Open-Loop):</h4>
			<ol>
				<li>Set to Manual Mode and 100% Duty Cycle</li>
				<li>Wait for Temperature to increase by at least 10%</li>
				<li>Turn Temp Controller off and Stop data capture</li>
				<li>Highlight Sloped Line after Dead Time on Plot</li>
			</ol>
			<button id = "stop">Stop Capture</button> 
			<button id = "restart">Restart Capture  </button> 
			<!-- <button id = "calcpid">Calculate PID</button> -->
			<br><br>
			
			Dead Time (secs): 
			<span id = "deadTime">
			</span><br>
			Normalized Slope (a): 
			<span id = "normSlope">
			</span>
			
			<table>
	     		<tr>
			        <td align=right>Kc: </td>
			        <td id="Kc_tune" align=right>0</td>
		        </tr>
		        <tr>
			        <td align=right>I: </td>
			        <td id="I_tune" align=right>0</td>
		        </tr>
		        <tr>
			        <td align=right>D: </td>
			        <td id="D_tune" align=right>0</td>
		        </tr>
		    </table>
			
		    </div>
	    </div>
	    <div class="ControlResponse" style="float:left;">
			<canvas id="tempGauge" width="300" height="300">
			</canvas>
		
	    	<div class="tempControlResponse">
	    	<p align=center style="font-size: large;text-decoration: underline;">Current Status</p> 
	     	<table>
	     		<tr>
			        <td align=right>Temperature: </td>
			        <td id="tempResponse" align=right>temp</td>
			        <td id="tempResponseUnits">&#176F</td> 
		        </tr>
		        <tr>
			        <td align=right>Mode: </td>
			        <td id="modeResponse" align=right>off</td>
		        </tr>
		        <tr>
		    		<td align=right>Set Point: </td>
		    		<td id="setpointResponse" align=right>0</td>
		    		<td id="setpointResponseUnits">&#176F</td>    	
		    		<td align=right>PID Kc parameter </td> 
		    		<td id="k_paramResponse">0</td>
	    		<tr>
	    			<td align=right>Duty Cycle: </td>
	    			<td id="dutycycleResponse" align=right>50</td>	
	    			<td>%</td>
	    			<td align=right>PID Ti parameter: </td> 
	    		    <td id="i_paramResponse">0</td>
	    		    <td>secs</td>
	    		</tr>
	    		<tr>
	    			<td align=right>Cycle Time: </td>
	    			<td id="cycletimeResponse" align=right>2</td>
	    			<td style="width:50px">secs </td>	
	    			<td align=right>PID Td parameter: </td> 
	    		    <td id="d_paramResponse">0</td>
	    		    <td>secs</td>
	    		</tr>
	        </table>
        </div>   
        <p align=center style="font-size: large;text-decoration: underline;">Command</p>
	    <div class="controlPanel" align=center>
    		<form id = "controlPanelForm" method="post">
    			{% if mode == "auto" %}
		    		<input class="modeclass" type="radio" name="mode" value="auto" checked/> Auto
		    	{% else %} 
		    	    <input class="modeclass" type="radio" name="mode" value="auto"/> Auto
		    	{% endif %}
		    	{% if mode == "manual" %}
		    		<input class="modeclass" type="radio" name="mode" value="manual" checked/> Manual
		        {% else %}
		        	<input class="modeclass" type="radio" name="mode" value="manual"/> Manual
		        {% endif %}
		        {% if mode == "off" %}
		    		<input id="off" class="modeclass" type="radio" name="mode" value="off" checked/> Off <br> <br>
		        {% else %}
		        	<input class="modeclass" type="radio" name="mode" value="off"/> Off <br> <br>
		    	{% endif %}
		    	
		    	<table>
		    		<tr>
		    			<td align=right>Set Point: </td>
		    			<td>
		    				<input type="text" name="setpoint"  maxlength = "4" size ="4" value={{set_point}} style="text-align: right;"/> 
		    			</td>
		    			<td id="setpointInputUnits">&#176F</td>
		    			<td align=right>Pid Kc parameter: </td> 
	    		        <td>
	    					<input type="text" name="k"  maxlength = "6" size ="6" value={{k_param}} style="text-align: right;"/> <br>
	    				</td>
	    			</tr>
	    			<tr>
	    				<td align=right>Duty Cycle: </td>
	    				<td>
	    					<input id="dutycycle" type="text" name="dutycycle"  maxlength = "4" size ="4" value={{duty_cycle}} style="text-align: right;"/> 
	    				</td>
	    				<td>%</td>
	    				<td align=right>PID Ti parameter: </td> 
	    		        <td>
	    					<input type="text" name="i"  maxlength = "6" size ="6" value={{i_param}} style="text-align: right;"/> <br>
	    				</td>
	    				<td>secs</td>
	    			</tr>
	    			<tr>
	    				<td align=right>Cycle Time: </td>
	    				<td>
	    					<input type="text" name="cycletime"  maxlength = "4" size ="4" value={{cycle_time}} style="text-align: right;"/>   
	    			   </td>
	    			   <td style="width:50px">secs</td>
	    			   <td align=right>PID Td parameter:</td> 
	    		        <td>
	    					<input type="text" name="d"  maxlength = "6" size ="6" value={{d_param}} style="text-align: right;"/> 
	    				</td>
	    				<td>secs</td>
	    			</tr>
	    		</table>
	    		<br>
	    		<button id = "sendcommand" type="submit" value="SubmitCommand" align=center>Send Command</button> 
	    	</form>		
	    </div>
	    </div>
 
    </body>
    
</html>
