<!DOCTYPE html>
<html>
	<!-- FuelUX attribute -->
	<head>
		<meta charset="utf-8">
		<title>Sous Vide</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<!-- Bootstrap -->
		<link type="text/css" href="static/external/bootstrap-3.3.7/css/bootstrap.min.css" rel="stylesheet">
		<link type="text/css" href="static/external/css-toggle-switch/toggle-switch.css" rel="stylesheet">
		<link type="text/css" href="static/raspibrew_bootstrap.css" rel="stylesheet">

		<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		<script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
		<![endif]-->
	</head>
	<body>
		<div class="container">
			<div class="page-header">
				<h1>Sous Vide</h1>
			</div>

			<div class="row">

				<!-- INPUTS -->
				<div class="col-sm-5">

					<h2>Vessels</h2>

					<table id="dataTable" class="table table-responsive" style="border-collapse: collapse;">
						<thead>
							<tr>
								<th>Description</th>
								<th class="text-right">Temperature</th>
								<th class="text-right">Heat Output</th>
							</tr>
						</thead>
						<tbody>
							<tr id="firstRow" data-toggle="collapse" data-target="#extra_data_info1" class="selectRow row-highlight accordion-toggle">
								<td>Slow Cooker</td>
								<td class="text-right"><span id="tempResponse">60</span><span id="tempResponseUnits">&deg;C</span></td>
								<td class="text-right"><span id="dutycycleResponse">0</span><span id="dutyCycleUnits"> </span></td>
							</tr>
							<tr>
								<td colspan="3" class="hiddenRow" id="vessel1">
									<div class="accordian-body collapse" id="extra_data_info1">
										<ul class="list-inline">
											<li>
												<b>Mode</b>
												<span id="modeResponse"></span>
											</li>
											<li>
												<b>Cycle Time(sec)</b>
												<span id="modeResponse"></span>
											</li>
											<li>
												<b>Set Point(<span id="setpointResponseUnits"></span>)</b>
												<span id="modeResponse"></span>
											</li>
										</ul>
										<ul class="list-inline">
											<li>
												<b>K<sub>c</sub></b>
												<span id="k_paramResponse"></span>
											</li>
											<li>
												<b>T<sub>i</sub></b>
												<span id="i_paramResponse"></span>
											</li>
											<li>
												<b>T<sub>d</sub></b>
												<span id="d_paramResponse"></span>
											</li>
										</ul>
									</div>
								</td>
							</tr>
						</tbody>
					</table>



					<h2>PID Control Panel</h2>

					<form id="controlPanelForm" method="post" class="form-horizontal" role="form">

						<div class="form-group">
							<label class="col-sm-4 control-label">Control Method</label>
							<div class="col-sm-8">
								<div class="btn-group" data-toggle="buttons">
									<label class="btn btn-default">
										<input type="radio" name="mode" id="auto" value="auto" />
										Auto
									</label>
									<label class="btn btn-default">
										<input type="radio" name="mode" id="manual" value="manual" />
										Manual
									</label>
									<label class="btn btn-default">
										<input type="radio" name="mode" id="off" value="off" checked />
										Off
									</label>
								</div>
							</div>
						</div>

						<div class="form-group">
							<label for="setpoint" class="col-sm-4 control-label">Setpoint</label>
							<div class="col-sm-8">
								<div class="input-group">
									<input type="number" step="any" name="setpoint" class="form-control" id="setpoint" value={{set_point}} />
									<span id="setpointInputUnits" class="input-group-addon"></span>
								</div>
							</div>
						</div>

						<div class="form-group">
							<label for="dutycycle" class="col-sm-4 control-label">Duty Cycle</label>
							<div class="col-sm-8">
								<div class="input-group">
									<input name="dutycycle" id="dutycycle" type="number" step="any" class="form-control" value={{duty_cycle}} />
									<span class="input-group-addon">%</span>
								</div>
							</div>
						</div>

						<div class="form-group">
							<label for="cycletime" class="col-sm-4 control-label">Cycle Time</label>
							<div class="col-sm-8">
								<div class="input-group">
									<input name="cycletime" type="number" step="any" class="form-control" id="cycletime" value={{cycle_time}} />
									<span class="input-group-addon">sec</span>
								</div>
							</div>
						</div>

						<div class="form-group">
							<label for="kc_param" class="col-sm-4 control-label">K<sub>c</sub></label>
							<div class="col-sm-8">
								<input name="k" type="number" step="any" class="form-control" id="kc_param" value={{k_param}} />
							</div>
						</div>
						<div class="form-group">
							<label for="ti_param" class="col-sm-4 control-label">T<sub>i</sub></label>
							<div class="col-sm-8">
								<input name="i" type="number" step="any" class="form-control" id="ti_param" value={{i_param}} />
							</div>
						</div>
						<div class="form-group">
							<label for="td_param" class="col-sm-4 control-label">T<sub>d</sub></label>
							<div class="col-sm-8">
								<input name="d" type="number" step="any" class="form-control " id="td_param" value={{d_param}} />
							</div>
						</div>

						<div class="form-group">
							<div class="col-sm-offset-4 col-sm-8">
								<button id="sendcommand" type="submit" class="btn btn-primary">Send Command</button>
							</div>
						</div>
					</form>
				</div>


				<!-- GRAPHS -->
				<div class="col-sm-7">

					<h2>Line Plots</h2>

					<div class="ControlResponse" id="tempheatplots">
						<div class="tempdata">
							<h3 class="plottitle">Temperature Plot</h3>
							<div id="tempplot" style="width: auto; height: 150px;"></div>

							<h3 class="plottitle">Heat Plot</h3>
							<div id="heatplot" style="width: auto; height: 150px;"></div>

							<div class="form-inline">
								<div class="form-group">
									<label for="windowSizeText" class="control-label">Window Size</label>
									<input id="windowSizeText" type="text" class="form-control" name="windowSize" maxlength="6" size="6" value="1000000" />
								</div>
								<div class="btn-group" role="group">
									<button class="btn btn-default" id="stop">Stop Capture</button>
									<button class="btn btn-default" id="restart">Restart Capture</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div> <!-- /.container -->
		<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
		<script type="text/javascript" src="static/external/jquery-2.0.3/jquery-2.0.3.min.js"></script>
		<!-- Include all compiled plugins (below), or include individual files as needed -->
		<script type="text/javascript" src="static/external/bootstrap-3.3.7/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="static/external/flot-0.8.2/jquery.flot.js"></script>
		<script type="text/javascript" src="static/external/flot-0.8.2/jquery.flot.selection.js"></script>
		<script type="text/javascript" src="static/raspibrew_bootstrap.js"></script>
	</body>
</html>
